<h4><%= brandName %></h4>
<p><%= storeName %></p>
<p><%= address1 %></p>
<p><%= address2 %></p>
<p><%= address3 %></p>
<p>tel: <%= telephoneNumber %></p>

        <!--
                "address4":"Greater London",
                "homewareDept":false,
                "facebookId":"143674995724825",
                "brandId":"12556",
                "openingThu":"10:00-19:00",
                "brands":"",
                "storeName":"Beckton Gallions Reach",
                "openingTue":"10:00-19:00",
                "cfsStandard":"12556~2015-02-22 05:30:00~2015-02-26,12556~2015-02-25 11:30:00~2015-02-28,12556~2015-03-01 05:30:00~2015-03-05",
                "postcode":"E6 7ER",
                "free_txt_1":"",
                "cafeRest":false,
                "index":"1",
                "openingMon":"10:00-19:00",
                "openingSun":"11:00-17:00",
                "country":"United Kingdom",
                "storeId":"TS0709",
                "openingWed":"10:00-19:00",
                "cfsExpress":"12556~2015-02-19 18:30:00~2015-02-20,12556~2015-02-20 18:30:00~2015-02-21,12556~2015-02-22 13:30:00~2015-02-23",
                "deliveryBrands":"12556",
                "openingFri":"10:00-19:00",
                "latitude":"51.516967",
                "telephoneNumber":"020 7473 4970",
                "openingSat":"10:00-19:00",
                "longitude":"0.080379",
                "brandName":"Topshop",
                "distance":"2.14",
                "weddingDept":false,
                "spare1":"4fb10f266d86b42ae66b3969",
                "spare2":"",
                "spare3":"",
                "spare4":"",
                "address1":"Unit 4, Gallions Reach Shopping Centre",
                "address2":"3 Armada Way",
                "address3":"Beckton"

                                -->